{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="container-fluid home-container">

        <div class="home-greeting">
            <h1>Capture</h1>
            <br>
            <h4>Beautiful, free photos.</h4>
            <h4>Gifted by the world’s most generous community of photographers.</h4>
        </div>
        <div class="categories">
            <h4>Trending</h4>
            <h4>New</h4>
            <span class="glyphicon glyphicon-th-large list-style"></span>
            <span class="glyphicon glyphicon-th-list list-style"></span>
        </div>
        <div class="photo-div">

            {% for item in images %}
                <div class="image-container">
                    <a href="{% url 'image' item.id %}">
                    <div class="after"></div>
                        <img src="{{item.photo.url}}" alt="Image" class="img-responsive home-image" id="myImg">
                    </a>
                </div>
            {% empty %}            
                <div class="row">
                    <h2 class="text-center">There are no images</h2>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}