{% block content %}
    <div class="container-fluid nav-container">
        <!-- <ul class="nav-buttons">
            <li><button class="btn btn-large business">Business</button></li>
            <li><button class="btn btn-large computer">Computer</button></li>
            <li><button class="btn btn-large nature">Nature</button></li>
            <li><button class="btn btn-large love">Love</button></li>
            <li><button class="btn btn-large house">House</button></li>
            <li><button class="btn btn-large landscape">Landscape</button></li>
            <li><button class="btn btn-large cat">Cat</button></li>
            <li><button class="btn btn-large happy">Happy</button></li>
            <li><button class="btn btn-large health">Health</button></li>
            <li><button class="btn btn-large autumn">Autumn</button></li>
            <li><button class="btn btn-large friends">Friends</button></li>
            <li><button class="btn btn-large office">Office</button></li>
        </ul> -->

        <div class="nav-buttons">
            <div class="col-md-1"><h5 class="business">Business</h5></div>
            <div class="col-md-1"><h5 class="computer">Computer</h5></div>
            <div class="col-md-1"><h5 class="nature">Nature</h5></div>
            <div class="col-md-1"><h5 class="love">Love</h5></div>
            <div class="col-md-1"><h5 class="house">House</h5></div>
            <div class="col-md-1"><h5 class="landscape">Landscape</h5></div>
            <div class="col-md-1"><h5 class="cat">Cat</h5></div>
            <div class="col-md-1"><h5 class="happy">Happy</h5></div>
            <div class="col-md-1"><h5 class="health">Health</h5></div>
            <div class="col-md-1"><h5 class="autumn">Autumn</h5></div>
            <div class="col-md-1"><h5 class="friends">Friends</h5></div>
            <div class="col-md-1"><h5 class="office">Office</h5></div>
        </div>
    </div>
{% endblock%}